<div id="footer">
    <div class="container">
        <div class="row">
            <div class="widget fl-left">
                <a href="#header"><img src="~/Assets/client/images/logo2.png" alt="logo"></a><br>
                <h>Văn hóa MigH được thể hiện qua bốn giá trị cốt lõi: TẬN TÂM – TRÁCH NHIỆM – SÁNG TẠO – KHÁC BIỆT </h>
            </div>
            <div class="fl-left widget-content">
                <div class="widget-head">
                    <h4>danh mục</h4>
                </div>
                <div class="widget-detail">
                    <ul class="list-course">
                        <li><a href="/san-pham-BPG"><i class="fa fa-check" aria-hidden="true"></i>Bàn phím Gaming</a></li>
                        <li><a href="/san-pham-CG"><i class="fa fa-check" aria-hidden="true"></i>Chuột Gaming</a></li>
                        <li><a href="/san-pham-TG"><i class="fa fa-check" aria-hidden="true"></i>Tai nghe Gaming</a></li>
                        
                    </ul>
                </div>
            </div>
            <div class="fl-left widget-content">
                <div class="widget-head">
                    <h4>bán chạy</h4>
                </div>
                <div class="widget-detail">
                    <ul class="list-course">
                        <li><a href="/san-pham-BPG"><i class="fa fa-check" aria-hidden="true"></i>Bàn phím Gaming</a></li>
                        <li><a href="/san-pham-CG"><i class="fa fa-check" aria-hidden="true"></i>Chuột Gaming</a></li>
                        <li><a href="/san-pham-TG"><i class="fa fa-check" aria-hidden="true"></i>Tai nghe Gaming</a></li>
                        
                    </ul>
                </div>
            </div>
            <div id="fanpage" class="fl-right">
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fmancity&tabs&width=340&height=214&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="214" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>
        </div>
    </div>
</div>
<div id="copy-right">
    <h4>© 2020  All rights reserved -  Bản quyền thuộc về Migh</h4>
</div>
